VITE_SUPABASE_URL=https://kfcutwspavvlfxqtpldm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_SZSvXhOqYn_Y_GnV6L5OPA_mb5a0Y7y
VITE_SPOTIFY_CLIENT_ID=seu_client_id_spotify
VITE_SPOTIFY_REDIRECT_URI=http://127.0.0.1:5173/
